<div class="row">
	<div class="col-md-7 offset-sm-3">
		<% if user_signed_in? %>
			<%= link_to "Buat Diskusi", new_forum_thread_path, class: 'btn btn-primary' %>
		<% end %>
		<% @threads.each do |z| %>
			<div class="thread">
				<h4><%= link_to z.title.titleize, forum_thread_path(z) %>
					<% if z.sticky %>
						<i class="fas fa-map-pin" style="transform: rotate(45deg);"></i>
					<% end %>
				</h4>
				
				<div class="meta">
					<%= I18n.l(z.created_at.to_date) %> oleh <%= z.user.name %>
				</div>

				<div class="content">
					<p>
						<%= truncate z.content, length: 120 %>
					</p>
				</div>

				<div class="action" style="float: left;">
					<%= link_to 'Pin kuy', pinkuy_forum_thread_path(z), method: :put %>
				</div>

				<div class="count">
					<%= z.forum_post.count %> Obrolan
				</div>

				<div style="clear: both;"></div>
			</div>
		<% end %>

		<%= will_paginate @threads, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
	</div>
</div>
