<div class="row">
	<div class="col-md-7 offset-sm-3">
		<div class="thread">
			<h4><%= @thread.title.titleize %></h4>
			<div class="meta">
				<%= I18n.l(@thread.created_at.to_date) %> oleh <%= @thread.user.name %>
			</div>
			
			<div class="content">
				<%= @thread.content %>
			</div>

			<% if policy(@thread).edit? %>
				<div class="action">
					<%= link_to 'Edit', edit_forum_thread_path(@thread), class: 'btn' %>
					<%= link_to 'Delete', forum_thread_path(@thread), method: :delete, data: {confirm: "Do you want to delete this thread ?"}, class: 'btn' %>
				</div>
			<% end %>
		</div>

		<% if @thread.forum_post.any? %>
			<% @posts.each do |c| %>
				<div class="thread">
					<div class="meta">
						<%= I18n.l(c.created_at.to_date) %> oleh <%= c.user.name %>
					</div>
					<div class="content">
						<%= c.content %>
					</div>
				</div>
			<% end %>
				<%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>			
		<% else %>
			<div align="center">
				<h4>jadilah yang pertama mengomentari</h4>
			</div>
		<% end %>

		<% if @post.errors.any? %>
			<% @post.errors.full_messages.each do |e| %>
				<div class="alert alert-danger alert-dismissible">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<%= e %></br>
				</div>
			<% end %>
		<% end %>

		<% if user_signed_in? %>
			<%= form_for [@thread, @post] do |p| %>
				<div class="form-group">
					<%= p.label :content %></br>
					<%= p.text_area :content, rows: 10, class: 'form-control' %></br>
				</div>

				<div class="form-group">
					<%= p.submit "Kirim", class: 'btn btn-success' %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>