<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Forum', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= form_tag root_path, method: :get, class: 'form-inline my-2 my-lg-0', style: 'float : left' do %>
      <div class="form-group">
        <%= text_field_tag :search, nil, class: 'form-control mr-sm-2' %>
      </div>
      <%= submit_tag "Cari", class: 'btn btn-outline-success my-2 my-sm-0' %>
    <% end %>

    <ul class="navbar-nav" style="float: right;">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= user_signed_in? ? current_user.name : 'Hello Guest' %></a>
        <div class="dropdown-menu" style="float: right;" aria-labelledby="navbarDropdown" >
          <% if user_signed_in? %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          <% else %>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'dropdown-item' %>
            <%= link_to 'Login', new_user_session_path, class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
    </ul>

    
  </div>
</nav>